@import "variables";

header .logo img {
    width: auto;
}

header .social {
    position: relative;
    float: right;
}

// Columns
main {
    .width6 {
        float: left;
        width: 50%;
    }
}