.hero, .features, .footer, .mMenu, .copyright{
    height:auto;
    width:100%;
    background-color:#ffffff;
    margin-bottom:30px;
}
.container{
    height:40vh;
    width:100%;
    max-width:1200px;
    margin:0 auto;
    background-color:#808080;
    text-align:center;
    overflow:hidden;
}
